# install me with this:
#
# sudo cp example/mitdk2pop.service /usr/lib/systemd/system
# systemctl enable mitdk2pop
# systemctl start mitdk2pop
# systemctl status mitdk2pop
[Unit]
Description=Net::MitDK POP3 daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mitdk2pop -p 8111
User=nobody
Restart=always

[Install]
WantedBy=multi-user.target
